/* upload github link to the github page and the link to website*/
body{
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-content: center;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    background-color: #FFC24A;
    color: #26395C;
}

video{
    width: 50%;
    justify-content: center;
}

img{
    object-fit: contain;
    width: 100%;
}

button:hover{
    background-color:#FFC24A;
}


/* Homepage */
/* div 1 */
.menu{
    display:flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display:flex;
    background-color: #26395C;
    color:white;
    width: 50%;
    height: 40px;
    align-items: center;
    justify-content: center;
}
.logo:hover{
    background-color: #26395C;
    color:white;
}

.navbar{
    display:flex;
    align-content: flex-end;
    width:50%;
}

.navpage{
    display:flex;
    height:40px;
    width: 25%;
    background-color: #26395C;
    justify-content:center;
    align-items: center;
}

/* div 2 */
.hero{
    height:600px;
    background-color: white;
    display: flex;
    align-items: center;
}

.hero h1{
    width: 40%;
    flex-wrap: nowrap;
    padding: 10%;
    font-size: 60px;
}

.hero i{
    font-size: 40px;
    font-style: normal;
}

.interaction{
    background-color: darkgray;
    width: 50%;
    height: 100%;
}

/* div 3 holder*/

.box{
    display: flex;
    justify-content: center;
    padding: 24px 0;
}

.about{
    background-image: url(img/darkbg2.png);
    background-size: cover;
    background-position: center;
    background-color: #26395C;
    padding-bottom: 200px;
}

.holder{
    border-radius: 25px;
    border-color: #26395C;
    border-width: 20px;
    display:flex;
    margin: 100px;
    justify-content: center;
    background-color: white;
    padding: 20px;
    width: 70%;
}

.media{
    width: 30%;
    height: auto;
    border-radius: 1000px;
    padding: 0 20px;
}

#special{
    width: 60%;
}
.text{
    width: 30%;
    margin: 0 0 0 40px;
    color: #26395C;
}

.text h3{
    font-size: 24px;
}

button{
    border-radius: 7px;
    width: 90px;
    height: 30px;
    background-color: #26395C;
    color: white;
    border: none;
}

/* div 4 */


/* div 5 */
#vertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

video{
    margin-bottom: 20px;
    border-radius: 15px;
    border-color: #26395C;
    border-width: 2px;
}

#video_button{
    margin: 0 10px;
}

/* footer */

footer{
    display:flex;
    justify-content: center;
    flex-direction: column;
    background-color: #26395C;
    padding: 0 26px;
}

footer .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .box.one{
    width: 50%;
}

footer a:hover{
    background-color: #26395C;
    color: white;
}


/* About page */

.page_title{
    background-color: gray;
    height: 100px;
    width: 100%;
}

.title_text{
    background-color: lightgray;
    padding: 10px;
    height: 20px;
    width: 100%;
}

#left{
    margin: 0 40px 0 0px;
}

